/* line 3, ../scss/isotope.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/isotope.scss */
#filters {
  text-align: center;
}

/* ---- button ---- */
/* line 11, ../scss/isotope.scss */
.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}
/* line 24, ../scss/isotope.scss */
.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222;
}

/* line 31, ../scss/isotope.scss */
.btn:active,
.btn.is-checked {
  background-color: #28F;
}

/* line 36, ../scss/isotope.scss */
.btn.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

/* line 41, ../scss/isotope.scss */
.btn:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}

/* ---- button-group ---- */
/* line 47, ../scss/isotope.scss */
.button-group {
  margin-bottom: 20px;
}

/* line 51, ../scss/isotope.scss */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/* line 57, ../scss/isotope.scss */
.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

/* line 64, ../scss/isotope.scss */
.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

/* line 65, ../scss/isotope.scss */
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/* ---- isotope ---- */
/* clear fix */
/* line 74, ../scss/isotope.scss */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
/* line 82, ../scss/isotope.scss */
.og-grid-item .sports, .og-grid-item .opinion, .og-grid-item .blog, .og-grid-item .ae, .og-grid-item .radio, .og-grid-item .news, .og-grid-item .video, .og-grid-item .photo, .og-grid-item .online {
  background: url("../img/howie.jpg") center;
  background-size: cover;
  width: 240px;
  height: 240px;
}
/* line 89, ../scss/isotope.scss */
.og-grid-item a {
  text-decoration: none;
}

/* line 94, ../scss/isotope.scss */
.sports .og-grid-item-overlay {
  background: rgba(129, 162, 213, 0.75);
}

/* line 95, ../scss/isotope.scss */
.opinion .og-grid-item-overlay {
  background: rgba(210, 35, 42, 0.75);
}

/* line 96, ../scss/isotope.scss */
.photo .og-grid-item-overlay {
  background: rgba(198, 150, 64, 0.75);
}

/* line 97, ../scss/isotope.scss */
.video .og-grid-item-overlay {
  background: rgba(84, 89, 90, 0.75);
}

/* line 98, ../scss/isotope.scss */
.ae .og-grid-item-overlay {
  background: rgba(223, 208, 93, 0.75);
}

/* line 99, ../scss/isotope.scss */
.radio .og-grid-item-overlay {
  background: rgba(48, 15, 36, 0.75);
}

/* line 100, ../scss/isotope.scss */
.news .og-grid-item-overlay {
  background: rgba(0, 81, 129, 0.75);
}

/* line 101, ../scss/isotope.scss */
.blog .og-grid-item-overlay {
  background: rgba(27, 29, 53, 0.75);
}

/* line 102, ../scss/isotope.scss */
.online .og-grid-item-overlay {
  background: rgba(136, 94, 127, 0.75);
}

/* line 104, ../scss/isotope.scss */
.og-grid-item-overlay {
  font-family: "Proxima Nova", sans-serif !important;
  width: 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}
/* line 112, ../scss/isotope.scss */
.og-grid-item-overlay .author {
  position: relative;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: normal;
  color: white;
  padding: 10px;
}
/* line 122, ../scss/isotope.scss */
.og-grid-item-overlay .number {
  position: absolute;
  right: 8px;
  top: 5px;
  color: white;
}
/* line 128, ../scss/isotope.scss */
.og-grid-item-overlay .headline {
  color: white;
  position: relative;
  padding: 10px;
  top: 76px;
  font-size: 14px;
}
/* line 137, ../scss/isotope.scss */
.og-grid-item-overlay .symbol {
  position: relative;
  left: 10px;
  top: 20px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}
