@charset 'UTF-8';
body{
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

#content > div.tanners-letter > h1 {
  margin-top: 0 !important;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
}

#section1 > h2,
#section2 > h2,
#section3 > h2 {
  margin-top: 0 !important;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
}


/*=================
      Classes
=================*/


/*=================
      ALL IDS
=================*/

#page-wrap{
  font-family: "Proxima Nova", sans-serif !important;
  font-size: 1.3em;
  line-height: 81.5%;
  font-weight: 400;
  background: #d1e8f8 url("../img/mainpage-background.jpg") repeat;
  min-height: 2000px /* REMOVE THIS LATER */
}

/*=================
      TOPBAR
=================*/

#top-bar {
  background: #93d3eb url("../img/top-bar.jpg") repeat-y center;
}

#top-bar-content{
  min-height: 30px;
  display: block;
  max-width: 1280px;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

#daily-bruin-link{
  float: left;
  vertical-align: middle;
  color: #204e91;
}

#daily-bruin-link img{
  height: 40px;
}

#weather-date{
  float: right;
  text-decoration: none;
  line-height: 27px;
  position: relative;
  margin-bottom: 0px;
  color: #204e91;
}

.inline{
  display: inline;
}

.inline p {
  display: inline;
}

/*=================
      HEADER
=================*/

#header{
  min-height: 130px;
  background: #2c5e91 url("../img/header-bg.jpg") repeat-x top;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-content{
  color: #fff;
  text-decoration: none;
}

#header-content-text{
  display: inline;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 30px;
}

#daily-bruin-title{
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: -1px;
  font-family: 'Proxima Nova', sans-serif;
}

#DB-logo{
  height: 67px;
  text-indent: -9999px;
  width: 67px;
}

.nav-bar-container{
  width: 100%;
  margin: 0px;
  margin-top: 60px;
}

#nav-bar{
  float:right;
}

#nav-bar a{
  text-decoration: none;
  color: white
}

#nav-bar a:hover{
  text-decoration: none;
  color: yellow;
}

/*dropdown menu*/
.dropbtn {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ADD8E6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
  background-color: #B0E0E6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*=================
      CONTENT
=================*/
#content-wrapper{

}

#content{
  margin: -20px 0 45px;
  padding: 50px 30px;
  background-color: white; /*REMOVE THIS LATER*/
  min-height: 2000px; /*REMOVE THIS LATER*/
}
/*tanners letter*/
.tanners-letter {
  line-height: 110%;
}

/*carousel styling*/
.center {
  text-align: center;
}

.center img {
  max-width: 100%;
  height: auto;
}

.content {
  position: relative;
}

.sports-illo{
  margin-top: 150px;
}

#section1 > div > div > button.slick-prev.slick-arrow,
#section1 > div > div > button.slick-next.slick-arrow {
  top: 250px;
  position: absolute;
}

/*.image {
  position: relative;
  width: 100%;
  height: auto;
} */

.image h3 {
  position: relative;
  bottom: 180px;
  width: 50%;
  top: 45%;
  text-align: left;
  background: white;
  left: 20px;
}

.image h3 div {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  padding: 10px;
}

.image h2 {
  position: relative;
  bottom: 180px;
  width: 50%;
  top: 45%;
  text-align: left;
  background: white;
  left: 20px;
}

.image h2 div {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: black;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px;
  line-height: 110%;
}

.image h2 div a {
  text-decoration: none;
}

/*magnific popup*/
.mfp-title {
  position:absolute;
  color: #FFF;
  background: red;
}

/*=================
  -30- COLUMNS
=================*/

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
}

.thumb{
  width: 100px;
}

.modal-thumb{
  width: 200px;
}

#slider-wrapper {
  height: 500px; overflow: hidden; padding: 40px;
}


@media only screen and (min-width: 990px) and (max-width: 1200px) {
  #slider-wrapper {
    height: 400px;
  }

  #slider-wrapper > div > div > div > div.content.slick-slide.slick-current.slick-active.slick-center > div {
    height: 400px !important;
  }
}

@media only screen and (min-width: 778px) and (max-width: 990px) {
  #slider-wrapper {
    height: 300px;
  }
  #slider-wrapper > div > div > div > div.content.slick-slide.slick-current.slick-active.slick-center > div {
    height: 400px !important;
  }
}
