@charset 'UTF-8';
body{
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

/*=================
      Classes
=================*/


/*=================
      ALL IDS
=================*/

#page-wrap{
  font-family: "Proxima Nova", sans-serif !important;
  font-size: 1.3em;
  line-height: 81.5%;
  font-weight: 400;
  background: #d1e8f8 url("../img/mainpage-background.jpg") repeat;
  min-height: 2000px /* REMOVE THIS LATER */
}

/*=================
      TOPBAR
=================*/

#top-bar {
  background: #93d3eb url("../img/top-bar.jpg") repeat-y center;
}

#top-bar-content{
  min-height: 30px;
  display: block;
  max-width: 1280px;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

#daily-bruin-link{
  float: left;
  vertical-align: middle;
  color: #204e91;
}

#daily-bruin-link img{
  height: 40px;
}

#weather-date{
  float: right;
  text-decoration: none;
  line-height: 27px;
  position: relative;
  margin-bottom: 0px;
  color: #204e91;
}

.inline{
  display: inline;
}

.inline p {
  display: inline;
}

/*=================
      HEADER
=================*/

#header{
  min-height: 130px;
  background: #2c5e91 url("../img/header-bg.jpg") repeat-x top;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-content{
  color: #fff;
  text-decoration: none;
}

#header-content-text{
  display: inline;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 30px;
}

#daily-bruin-title{
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: -1px;
}

#DB-logo{
  height: 67px;
  text-indent: -9999px;
  width: 67px;
}

.nav-bar-container{
  width: 100%;
  margin: 0px;
  margin-top: 60px;
}

#nav-bar{
  float:right;
}

#nav-bar a{
  text-decoration: none;
  color: white
}

#nav-bar a:hover{
  text-decoration: none;
  color: yellow;
}
/*=================
      CONTENT
=================*/
#content-wrapper{

}

#content{
  margin: -20px 0 45px;
  padding: 50px 30px;
  background-color: white; /*REMOVE THIS LATER*/
  min-height: 2000px; /*REMOVE THIS LATER*/
}
/*tanners letter*/
.tanners-letter {
  line-height: 150%;
}

/*carousel styling*/
.center {
  text-align: center;
}

.center img {
  max-width: 100%;
  height: auto;
}

.content {
  position: relative;
}

.sports-illo{
  margin-top: 100px;
}

.image {
  position: relative;
  width: 100%;
}

.image h2 {
  position: relative;
  bottom: 300px;
  width: 80%;
  top: 45%;
  text-align: center;
  background: white;
  margin: 0 auto;
}

.image h2 div {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: black;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px;
  line-height: 110%;
}

.image h2 div a {
  text-decoration: none;
}
/*=================
  -30- COLUMNS
=================*/

.thumb{
  width: 100px;
}

.modal-thumb{
  width: 200px;
}
