@import "mixins";

* { box-sizing: border-box; }

#filters {
  text-align: center;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;

  &:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
  }
}

.btn:active,
.btn.is-checked {
  background-color: #28F;
}

.btn.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.btn:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  // border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.og-grid-item {
  .sports, .opinion, .blog, .ae, .radio, .news, .video, .photo, .online {
    background: url('../img/howie.jpg') center;
    background-size: cover;
    width: 240px;
    height: 240px;
  }

  a {
    text-decoration: none;
  }
}

.sports   .og-grid-item-overlay { background: rgba(129,162,213,0.75); }
.opinion  .og-grid-item-overlay { background: rgba(210,35,42,0.75); }
.photo    .og-grid-item-overlay { background: rgba(198,150,64,0.75); }
.video    .og-grid-item-overlay { background: rgba(84,89,90,0.75); }
.ae       .og-grid-item-overlay { background: rgba(223,208,93,0.75); }
.radio    .og-grid-item-overlay { background: rgba(48,15,36,0.75); }
.news     .og-grid-item-overlay { background: rgba(0,81,129,0.75); }
.blog     .og-grid-item-overlay { background: rgba(27,29,53,0.75); }
.online   .og-grid-item-overlay { background: rgba(136,94,127,0.75); }

.og-grid-item-overlay {
  font-family: "Proxima Nova", sans-serif !important;
  width: 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  @include vendorize(transition, opacity 350ms ease-in-out);

  .author {
    position: relative;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: normal;
    color: white;
    padding: 10px;
  }
  .number {
    position: absolute;
    right: 8px;
    top: 5px;
    color: white;
  }
  .headline {
    color: white;
    // position: absolute;
    position: relative;
    padding: 10px;
    top: 76px;
    font-size: 14px;
    // line-height: 0px;
  }
  .symbol {
    position: relative;
    left: 10px;
    top: 20px;
    font-size: 42px;
    font-weight: bold;
    color: white;
  }
}
